@font-face {
    font-family: IowanOldSt;
    src: url("../fonts/default-reading-typeface.ttf");
    font-weight: 600;
}

#main-navbar {
    padding: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
    width: 100%;
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;

    border-bottom: .5px solid rgba(0, 0, 0, 0.1);
}

#close-app-icon,
#minimize-app-icon {
    stroke: black;
    transition: stroke .2s;
}

#close-app-icon:hover {
    stroke: var(--primary-red-color) !important;
}

#minimize-app-icon:hover {
    stroke: rgba(0, 0, 0, 0.7) !important;
}
#book-container {
    padding: 40px 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
#book-content-columns {
    /* columns: 100vw 2; 
    column-width: 200px;
    column-gap: 100px;*/
    max-width: 1000px;
    overflow-x: auto;
    height: 85%;
    width: 85%;
    overflow-y: hidden;
    margin: 0 50px;
}
#book-content-columns > * {
    font-family: IowanOldSt;
    line-height: 150%;
}

#book-content-columns iframe body img {
    max-width: 100%;
}

/* #book-content-columns > h1 {
    -webkit-column-break-inside: avoid;
}

#book-content-columns > p {
    margin: 0;
    padding: 0;
    text-align: justify;
}
#book-content-columns > p {
    font-size: 16px;
} 
#book-content-columns image,#book-content-columns div,#book-content-columns img {
    max-width: 100% !important;
} */
.chapter-content {
    
}



.book-navbar-popup{
    padding: 3vh;
    margin-top: 30px;
    /* display: none; */
    position: absolute;
    z-index: 10;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, .1);
    overflow: hidden;
    display: none;
}

#reading-settings {
    right: 0;
}
#book-info {
    left: 0;
    width: 350px;
}

#page-color-style-default,#page-color-style-brown {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin: 0 1vh;
}

#page-color-style-default {
    border: 1px solid black;
    background-color: white;
}

#page-color-style-brown {
    border: 1px solid #5B4636;
    background-color: #7c5f49;
}