#main-navbar {
    padding: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
    width: 100%;
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;

    border-bottom: .5px solid rgba(0, 0, 0, 0.1);
}

#close-app-icon,
#minimize-app-icon {
    stroke: black;
    transition: stroke .2s;
}

#close-app-icon:hover {
    stroke: var(--primary-red-color) !important;
}

#book-container {
    padding: 40px 40px 0 40px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 50px;
}
#book-content-columns-wrapper {
    height: 100%;
    width: 85%;
    position: relative;
}

#book-content-columns {
    /* columns: 100vw 2; 
    column-width: 200px;
    column-gap: 100px;*/
    /* max-width: 1000px; */
    width: 100%;
    height: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    /* margin: 0 50px; */
}

/* #book-content-columns > h1 {
    -webkit-column-break-inside: avoid;
}

#book-content-columns > p {
    margin: 0;
    padding: 0;
    text-align: justify;
}
#book-content-columns > p {
    font-size: 16px;
} 
#book-content-columns image,#book-content-columns div,#book-content-columns img {
    max-width: 100% !important;
} */

.book-navbar-popup {
    padding: 3vh;
    margin-top: 30px;
    display: none;
    position: absolute;
    z-index: 10;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, .1);  
    display: none;
}
.book-navbar-popup:not(#reading-settings) {
    overflow: hidden;
}

#reading-settings {
    right: 0;
    width: 330px;
}

#book-info {
    left: 0;
    width: 350px;
}

#book-chapters {
    left: 0;
    width: 350px;
    height: 500px;
    overflow-y: auto !important;
}
#book-saved {
    left: 0;
    width: 350px;
    max-height: 400px;
    padding: 0 !important;
}
#show-dictionary-popup {
    transition: all .3s;
}
#dictionary-popup {
    left: 0;
    min-width: 350px;
    padding: 20px 30px !important;
    max-height: 80vh;
    overflow-y: auto !important;
}

.dictionary-audio-button {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px -4px rgb(0 ,0 ,0,.7);
    margin-left: 10px;
}
.dictionary-audio-button svg {
    fill: rgba(0, 0, 0, .5);
    transition: all .3s;
}
.dictionary-audio-button:hover svg {
    fill: rgba(0, 0, 0, 1)
}

.dictionary-definition-box ol li::marker {
    font-weight: 600;
}

#book-action-menu {
    background-color: white;
    border-radius: 5px;
    list-style: none;
    padding: 10px;
    display: inline-block;
    box-shadow: 0 0 12px -1px rgba(0,0,0,.25);
    z-index: 5;
    position: absolute;
    display: none;
}
#book-action-menu li {
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    white-space: nowrap;
}
#book-action-menu li:hover {
    background-color: rgba(0, 0, 0, .05);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#book-chapters {
    padding: 25px 15px;
}

#book-chapters h1 {
    padding: 2vh;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color .2s;
}

#book-chapters h1::before {
    content: '•';
    margin-right: 5px;
}

#book-chapters h1:hover {
    background-color: rgba(0, 0, 0, .1);
}

#page-color-style-default,
#page-color-style-brown,
#page-color-style-dark {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin: 0 1vh;
}

#page-color-style-default {
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: white !important;
}

#page-color-style-default.selected {
    border: 1px solid rgba(0, 0, 0, 1) !important;
}

#page-color-style-brown {
    border: 1px solid rgba(91, 70, 54, .2);
    background-color: #7c5f49;
}

#page-color-style-brown.selected {
    border: 1px solid rgba(0, 0, 0, 1) !important;
}

.page-color-style-brown-bg {
    background-color: #F8F1E2 !important;
}

.page-color-style-brown-color {
    color: #5B4636 !important;
    fill: #5B4636;
}

#page-color-style-dark {
    border: 2px solid rgba(255, 255, 255, .2);
    background-color: #1A1A1A;
}

#page-color-style-dark.selected {
    border: 2px solid white !important;
}

.page-color-style-dark-bg {
    background-color: #1A1A1A !important;
}

.page-color-style-dark-color {
    color: white !important;
    fill: white;
}

#book-saved-pages {
    padding: 2vh;
    margin: 1vh;
    flex: 1;
    overflow-y: auto;
}

.saved-information {
    transition: padding .3s;
    flex: 1;
}
.saved-information:hover {
    padding-left: 10px;
}
.book-saved-box svg {
    opacity: .25;
    transition: all .3s;
}
.book-saved-box svg:hover {
    opacity: 1;
    fill: var(--primary-red-color);
}
#book-saved-btn {
    padding: 15px 25px;
    border-radius: 10px;
    transition: all .3s;
    margin: 3vh 3vh 0 3vh;
}
#book-saved-btn.saving {
    background-color: black;
}
#book-saved-btn.unsaving {
    background-color: #E3B230;
}
#book-saved-btn.saving svg  {
    fill: black;
    transition: all .3s;
}
#book-saved-btn.unsaving svg {
    fill: white;
    transition: all .3s;
}
#book-saved-btn h1 {
    color: white;
}
#book-saved-btn.saving:hover > svg {
    fill: white;
}
#book-saved-btn.unsaving:hover > svg {
    fill: rgba(0,0,0,0  );
}
#currentPages {
    padding: 8px 0;
    width: 140px;
    background-color: rgba(0,0,0,.1);
    border-radius: 10px;
}
#typeface-section {
    filter: brightness(.95);
    padding: 1vh;
    border-radius: 5px;
    background-color: white;
    border: .5px solid rgba(0, 0, 0, .05);
    cursor: pointer;
}
#typeface-settings {
    position: relative;
}
#typeface-section:focus {
    outline: none;
}

#typeface-option {
    position: absolute;
    display: none;
    margin-top: 5px;
    border-radius: 5px;
    background-color: white;
    filter: brightness(.95);
    padding: 1vh;
    border: .5px solid white
}
#typeface-option h1 {
    padding: 1vh;
    cursor: pointer;
    border-radius: 5px;
}

#lang-select {
    border: none;
    outline: none;
    scroll-behavior: smooth;;
}
#language-selection {
    justify-content: end;
    gap: 5px;
}
#settings-decrease-font-size,#settings-increase-font-size{
	text-align: center;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}

.settings-font-click-animation:not(.op-5):active {
	animation: .1s settings-font-click-animation 1;
}

@keyframes settings-font-click-animation {
	0% {
		background-color: rgba(0,0,0,0)	
	}
	50% {
		background-color: rgba(0,0,0,.1)	
	}
	100% {
		background-color: rgba(0,0,0,0)	
	}
}
