@font-face {
    font-family: IowanOldSt;
    src: url("../fonts/default-reading-typeface.ttf");
    font-weight: 600;
}

#main-navbar {
    padding: 3vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
    width: 100%;
    -webkit-user-select: none;
    user-select: none;
    -webkit-app-region: drag;

    border-bottom: .5px solid rgba(0, 0, 0, 0.1);
}

#close-app-icon,
#minimize-app-icon {
    stroke: black;
    transition: stroke .2s;
}

#close-app-icon:hover {
    stroke: var(--primary-red-color) !important;
}

#minimize-app-icon:hover {
    stroke: rgba(0, 0, 0, 0.7) !important;
}

#book-container {
    padding: 40px 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#book-content-columns {
    /* columns: 100vw 2; 
    column-width: 200px;
    column-gap: 100px;*/
    /* max-width: 1000px; */
    overflow-x: auto;
    height: 90%;
    width: 85%;
    overflow-y: hidden;
    margin: 0 50px;
}

/* #book-content-columns > h1 {
    -webkit-column-break-inside: avoid;
}

#book-content-columns > p {
    margin: 0;
    padding: 0;
    text-align: justify;
}
#book-content-columns > p {
    font-size: 16px;
} 
#book-content-columns image,#book-content-columns div,#book-content-columns img {
    max-width: 100% !important;
} */

.book-navbar-popup {
    padding: 3vh;
    margin-top: 30px;
    display: none;
    position: absolute;
    z-index: 10;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, .1);
    overflow: hidden;
    display: none;
}

#reading-settings {
    right: 0;
}

#book-info {
    left: 0;
    width: 350px;
}

#book-chapters {
    left: 0;
    width: 350px;
    height: 500px;
    overflow-y: auto;
}
#book-saved {
    left: 0;
    width: 350px;
}


/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999999;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#book-chapters {
    padding: 25px 15px;
}

#book-chapters h1 {
    padding: 2vh;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color .2s;
}

#book-chapters h1::before {
    content: '•';
    margin-right: 5px;
}

#book-chapters h1:hover {
    background-color: rgba(0, 0, 0, .1);
}

#page-color-style-default,
#page-color-style-brown {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin: 0 1vh;
}

#page-color-style-default {
    border: 1px solid rgba(0, 0, 0, .2);
    background-color: white;
}

#page-color-style-default.selected {
    border: 1px solid rgba(0, 0, 0, 1) !important;
}

#page-color-style-brown {
    border: 1px solid rgba(91, 70, 54, .2);
    background-color: #7c5f49;
}

#page-color-style-brown.selected {
    border: 1px solid rgba(0, 0, 0, 1) !important;
}

.page-color-style-brown-bg {
    background-color: #F8F1E2;
}

.page-color-style-brown-color {
    color: #5B4636 !important;
    fill: #5B4636;
}
#book-saved-pages {
    padding: 20px 0 0 0;
}
.saved-information {
    transition: padding .3s;
    flex: 1;
}
.saved-information:hover {
    padding-left: 10px;
}
.book-saved-box > svg {
    opacity: .25;
    transition: all .3s;
    fill: black;
}
.book-saved-box > svg:hover {
    opacity: 1;
    fill: var(--primary-red-color);
}
#book-saved-btn {
    padding: 15px 25px;
    border-radius: 10px;
    transition: all .3s;
}
#book-saved-btn.saving {
    background-color: black;
}
#book-saved-btn.unsaving {
    background-color: #E3B230;
}
#book-saved-btn.saving svg  {
    fill: black;
    transition: all .3s;
}
#book-saved-btn.unsaving svg {
    fill: white;
    transition: all .3s;
}
#book-saved-btn h1 {
    color: white;
}
#book-saved-btn.saving:hover > svg {
    fill: white;
}
#book-saved-btn.unsaving:hover > svg {
    fill: rgba(0,0,0,0  );
}
#currentPages {
    padding: 8px 0;
    width: 140px;
    background-color: rgba(0,0,0,.1);
    border-radius: 10px;
}