#section-book .book-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
#section-book .book-box:not(.not-empty):not(:last-of-type) {
  background-color: rgba(0, 0, 0, 0.05);
}
#section-book .book-box.not-empty {
  border: 1px solid rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
#section-book .book-delete-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  right: -10px;
  top: -10px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}
#section-book .book-delete-icon svg { 
  stroke: var(--primary-red-color);
  transition: stroke .3s;
}
#section-book-preview .book-delete-icon:hover svg {
  stroke: white;
}
#section-book-preview .book-delete-icon:hover {
  background-color: var(--primary-red-color);
}
#section-book-preview .book-box .book-box-image {
  z-index: 4;
}
#section-book-preview .book-box .book-box-image img {
  transition: all .2s;
}
#section-book-preview .book-box.currently-editing:not(:last-of-type) {
  animation: shake .4s;
}
#section-book-preview .book-box.currently-editing .book-box-image img {
  filter: blur(4px) brightness(80%);
}
#section-book-preview .book-box:not(.currently-editing) .book-delete-icon {
  display: none;
  opacity: 0;
}
#section-book-preview .book-box.currently-editing .book-delete-icon {
  transition: all .2s;
  /* display: flex; */
  opacity: 1 !important;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -1px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(1px, 1px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 1px) rotate(-1deg); }
  60% { transform: translate(-1px, 1px) rotate(0deg); }
  70% { transform: translate(1px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 1px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

#section-book-preview {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(7, 140px);
  grid-template-rows: 214px;
  justify-content: space-between;
}
#see-all-books {
  transition: all 0.5s;
  padding: 2vh 3vh;
  border-radius: 10px;
}
#see-all-books:hover  {
  background-color: black;
  color: white;
}
#section-book-filter-selection {
  border: none;
  cursor: pointer;
}
#section-book-filter-selection:focus {
  outline: none;
}

#section-book-sortings-list li:not(:last-of-type) {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

