
#section-book-preview {
  margin-top: 25px;
  display: grid;
  grid-template-columns: repeat(7, 140px);
  grid-template-rows: 214px;
  justify-content: space-between;
}
#see-all-books {
  transition: all 0.5s;
  padding: 2vh 3vh;
  border-radius: 10px;
}
#see-all-books:hover  {
  background-color: black;
  color: white;
}
#section-book-filter-selection {
  border: none;
  cursor: pointer;
}
#section-book-filter-selection:focus {
  outline: none;
}

#section-book-sortings-list li:not(:last-of-type) {
  border-bottom: 1px solid rgba(0,0,0,.1);
}

#application-information img {
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

#contributors-list {
  margin-top: 10px;
  list-style: none;
  padding: 0;
}

#contributors-list li {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
  text-decoration: underline;
}